<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SummerDresses">
    <classes>
      <class name="zavrsniRad.MenuTest"/>
      <class name="zavrsniRad.SummerDressesTest"/>
      <class name="zavrsniRad.RegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
